{% extends "base.html" %}

{% block title %}Update Movie - MovieWeb App{% endblock %}

{% block content %}
<div class="container container-md">
    <div class="form-wrapper">
        <form method="POST" class="form-container">
            <div class="form-group">
                <label for="movie_name">Movie Name:</label>
                <input type="text" id="movie_name" name="movie_name" value="{{ movie.movie_name }}" required>
            </div>

            <div class="form-group">
                <label for="poster_url">Poster URL:</label>
                <input type="url" id="poster_url" name="poster_url" value="{{ movie.poster_url }}">
            </div>

            <div class="form-group">
                <label for="lead_actor">Lead Actor:</label>
                <input type="text" id="lead_actor" name="lead_actor" value="{{ movie.lead_actor }}">
            </div>

            <div class="form-group">
                <label for="release_date">Release Date:</label>
                <input type="date" id="release_date" name="release_date" value="{{ movie.release_date }}">
            </div>

            <div class="form-group">
                <label for="imdb_rating">IMDb Rating:</label>
                <input type="text" id="imdb_rating" name="imdb_rating" value="{{ movie.imdb_rating }}">
            </div>

            <div class="form-group">
                <label for="imdb_url">IMDb URL:</label>
                <input type="url" id="imdb_url" name="imdb_url" value="{{ movie.imdb_url }}">
            </div>

            <button type="submit" class="btn">Update Movie</button>
        </form>
    </div>
    <div class="add-movie">
        <a href="{{ url_for('user_movies', user_id=user_id) }}" class="btn">Back to Movies</a>
    </div>
</div>
{% endblock %}
